@model CompanyModel

<form asp-controller="Company" asp-action="UpdateCompany">
    <div class="form-group" style="margin-top: 40px;">
        <label>ID</label>
        <input type="text" class="form-control" value="@ViewBag.ID" asp-for="ID" readonly>
    </div>

    <div class="form-group" style="margin-top: 40px;">
        <label>Name</label>
        <input type="text" class="form-control" value="@ViewBag.Name" asp-for="Name">
    </div>

    <div class="form-group" style="margin-top: 40px;">
        <label>Email</label>
        <input type="text" class="form-control" value="@ViewBag.Email" asp-for="Email">
    </div>

    <div class="form-group" style="margin-top: 40px;">
        <label>Website</label>
        <input type="text" class="form-control" value="@ViewBag.Website_URL" asp-for="Website_URL" >
    </div>



    <button type="submit" class="btn btn-primary" style="margin-top: 40px;">Submit</button>
</form>